<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xhfc.rocketmusic.dao.SongMapper" >
  <resultMap id="BaseResultMap" type="cn.xhfc.rocketmusic.entity.Song" >
    <id column="so_id" property="soId" jdbcType="INTEGER" />
    <result column="so_name" property="soName" jdbcType="VARCHAR" />
    <result column="so_url" property="soUrl" jdbcType="VARCHAR" />
    <result column="so_singer" property="soSinger" jdbcType="INTEGER" />
    <result column="so_lyric" property="soLyric" jdbcType="VARCHAR" />
    <result column="so_price" property="soPrice" jdbcType="REAL" />
    <result column="so_info" property="soInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    so_id, so_name, so_url, so_singer, so_lyric, so_price, so_info
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xhfc.rocketmusic.entity.SongExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from song
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from song
    where so_id = #{soId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from song
    where so_id = #{soId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xhfc.rocketmusic.entity.SongExample" >
    delete from song
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xhfc.rocketmusic.entity.Song" >
    insert into song (so_id, so_name, so_url, 
      so_singer, so_lyric, so_price, 
      so_info)
    values (#{soId,jdbcType=INTEGER}, #{soName,jdbcType=VARCHAR}, #{soUrl,jdbcType=VARCHAR}, 
      #{soSinger,jdbcType=INTEGER}, #{soLyric,jdbcType=VARCHAR}, #{soPrice,jdbcType=REAL}, 
      #{soInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xhfc.rocketmusic.entity.Song" >
    insert into song
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="soId != null" >
        so_id,
      </if>
      <if test="soName != null" >
        so_name,
      </if>
      <if test="soUrl != null" >
        so_url,
      </if>
      <if test="soSinger != null" >
        so_singer,
      </if>
      <if test="soLyric != null" >
        so_lyric,
      </if>
      <if test="soPrice != null" >
        so_price,
      </if>
      <if test="soInfo != null" >
        so_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="soId != null" >
        #{soId,jdbcType=INTEGER},
      </if>
      <if test="soName != null" >
        #{soName,jdbcType=VARCHAR},
      </if>
      <if test="soUrl != null" >
        #{soUrl,jdbcType=VARCHAR},
      </if>
      <if test="soSinger != null" >
        #{soSinger,jdbcType=INTEGER},
      </if>
      <if test="soLyric != null" >
        #{soLyric,jdbcType=VARCHAR},
      </if>
      <if test="soPrice != null" >
        #{soPrice,jdbcType=REAL},
      </if>
      <if test="soInfo != null" >
        #{soInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xhfc.rocketmusic.entity.SongExample" resultType="java.lang.Integer" >
    select count(*) from song
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update song
    <set >
      <if test="record.soId != null" >
        so_id = #{record.soId,jdbcType=INTEGER},
      </if>
      <if test="record.soName != null" >
        so_name = #{record.soName,jdbcType=VARCHAR},
      </if>
      <if test="record.soUrl != null" >
        so_url = #{record.soUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.soSinger != null" >
        so_singer = #{record.soSinger,jdbcType=INTEGER},
      </if>
      <if test="record.soLyric != null" >
        so_lyric = #{record.soLyric,jdbcType=VARCHAR},
      </if>
      <if test="record.soPrice != null" >
        so_price = #{record.soPrice,jdbcType=REAL},
      </if>
      <if test="record.soInfo != null" >
        so_info = #{record.soInfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update song
    set so_id = #{record.soId,jdbcType=INTEGER},
      so_name = #{record.soName,jdbcType=VARCHAR},
      so_url = #{record.soUrl,jdbcType=VARCHAR},
      so_singer = #{record.soSinger,jdbcType=INTEGER},
      so_lyric = #{record.soLyric,jdbcType=VARCHAR},
      so_price = #{record.soPrice,jdbcType=REAL},
      so_info = #{record.soInfo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xhfc.rocketmusic.entity.Song" >
    update song
    <set >
      <if test="soName != null" >
        so_name = #{soName,jdbcType=VARCHAR},
      </if>
      <if test="soUrl != null" >
        so_url = #{soUrl,jdbcType=VARCHAR},
      </if>
      <if test="soSinger != null" >
        so_singer = #{soSinger,jdbcType=INTEGER},
      </if>
      <if test="soLyric != null" >
        so_lyric = #{soLyric,jdbcType=VARCHAR},
      </if>
      <if test="soPrice != null" >
        so_price = #{soPrice,jdbcType=REAL},
      </if>
      <if test="soInfo != null" >
        so_info = #{soInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where so_id = #{soId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xhfc.rocketmusic.entity.Song" >
    update song
    set so_name = #{soName,jdbcType=VARCHAR},
      so_url = #{soUrl,jdbcType=VARCHAR},
      so_singer = #{soSinger,jdbcType=INTEGER},
      so_lyric = #{soLyric,jdbcType=VARCHAR},
      so_price = #{soPrice,jdbcType=REAL},
      so_info = #{soInfo,jdbcType=VARCHAR}
    where so_id = #{soId,jdbcType=INTEGER}
  </update>
</mapper>